<% layout('layouts/boilerplate') %>

<div class="d-flex justify-content-between align-items-start mb-3 mt-3">
  <!-- Left Side: Add Question Form -->
  <div class="w-50 pr-3 all-ques">
    <h3 class="mb-4">Add Question to Quiz: <%= quiz.title %></h3>

    <form
      action="/examiners/<%= quiz._id %>/add-question"
      method="POST"
      novalidate
    >
      <label for="questionText">Question</label>
      <input type="text" name="questionText" required class="form-control" />

      <label for="options">Options (comma separated)</label>
      <input type="text" name="options" required class="form-control" />

      <label for="correctAnswerIndex">Correct Answer Index</label>
      <input
        type="number"
        name="correctAnswerIndex"
        required
        class="form-control"
        min="1"
        max="4"
      />

      <button type="submit" class="btn btn-primary mt-3 add-ques-btn">
        Add Question
      </button>
    </form>
  </div>

  <div class="vr mx-3"></div>

  <div class="w-50 pl-3 added-ques">
    <h3 class="mb-3">Questions Added So Far:</h3>

    <% if (quiz.questions.length > 0) { %>
    <ul class="list-unstyled">
      <% quiz.questions.forEach((q, index) => { %>
      <li class="each-ques mb-3">
        <div class="ques-content">
          <strong>Q<%= index + 1 %>:</strong> <%= q.questionText %> <br />
          Options: <%= q.options.join(", ") %> <br />
          Correct Answer Index: <%= q.correctAnswerIndex %>
        </div>

        <div class="mt-2 edit-del-btn">
          <!-- Edit button -->
          <form
            action="/examiners/<%= quiz._id %>/edit-question/<%= index %>"
            method="GET"
            class="d-inline"
          >
            <button type="submit" class="btn btn-sm edit-btn-show">
              <i class="fa-solid fa-pen"></i>
            </button>
          </form>

          <!-- Delete button-->
          <form
            action="/examiners/<%= quiz._id %>/delete-question/<%= index %>"
            method="POST"
            class="d-inline"
          >
            <button type="submit" class="btn btn-sm dlt-btn-show">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        </div>
      </li>
      <% }) %>
    </ul>

    <% } else { %>
    <p>No questions added yet.</p>
    <% } %>
    <form action="/examiners/<%= quiz._id %>/finish" method="POST">
      <button type="submit" class="btn btn-success mt-3 finish-btn">
        Finish Quiz
      </button>
    </form>
  </div>
</div>
