<% layout('layouts/boilerplate') %>

<div class="quiz-container">
  <div class="quiz-header">
    <a href="/quizzes" class="back-link">← Back</a>
    <h1 class="quiz-title"><%= quiz.title %></h1>
  </div>

  <form
    action="/quizzes/<%= quiz._id %>/submit"
    method="POST"
    class="quiz-form"
    novalidate
  >
    <% quiz.questions.forEach(function(question, idx) { %>
    <div class="question-card">
      <h4 class="question-title">
        Q<%= idx + 1 %>: <%= question.questionText %>
      </h4>
      <% question.options.forEach(function(option, i) { %>
      <label class="option-item">
        <input
          type="radio"
          name="answers[<%= idx %>]"
          value="<%= i %>"
          required
        />
        <span><%= option %></span>
      </label>
      <% }); %>
      <div class="invalid-feedback">
        Please select an answer for this question.
      </div>
    </div>
    <% }); %>

    <button type="submit" class="submit-btn">Submit Quiz</button>
  </form>
</div>
